*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    color: #2e2e2e;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.welcome {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://source.unsplash.com/1600x900/?university');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
  }

  .content h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
  }

  .content h1 {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .content h1:nth-child(2) {
    color: #ffcc00;
    margin-bottom: 0.5rem;
  }

  .content h1:nth-child(3) {
    color: #ff3300;
  }

.wrapper{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
    display: flex;
}

@media (min-width: 768px) {
    .wrapper{
        height: 50rem;
        width: 25rem;
        border-radius: 40px;
        border: 10px solid #2e2e2e;
    }
}

.wrapper .screen{
    flex: 1;
    min-width: 100%;
    transition: all 0.2s;
}

.backdrop{
    width: 135%;
    height: 35rem;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-60%);
    border-radius: 0 0 50% 50%;
    background-color: gray;
    transition: all 0.3s;
}

::-webkit-scrollbar{
    width: 0;
}

.startbtn{
    margin-left: 250px;
    height: 5rem;
    width: 7rem;
    background-color: #565254;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.head-wrapper{
    padding:  0 30px;
}
.wrapper.show-category .home-screen{
    transform: translateX(-100%);
}

.wrapper.show-category .category-screen{
    transform: translateX(-100%);
}
.wrapper.show-category .backdrop{
    transform: translate(-50%, -60%);
}

/*class 1 page*/
.class1 {
    font-size: x-large;
}

.class2 {
    font-size: larger;
}

.class3 {
    font-size: large;
}

.wrapper.show-page1 .category-screen{
    transform: translateX(-200%);
}
.wrapper.show-page1 .category-screen{
    transform: translateX(-200);
}
.wrapper.show-page1 .class1-page{
    transform: translateX(-200%);
}

/*class 2 page*/
.wrapper.show-page2 .category-screen{
    transform: translateX(-200%);
}
.wrapper.show-page2 .category-screen{
    transform: translateX(-300);
}
.wrapper.show-page2 .class2-page{
    transform: translateX(-300%);
}

/*class 3 page*/
.wrapper.show-page3 .category-screen{
    transform: translateX(-200%);
}
.wrapper.show-page3 .category-screen{
    transform: translateX(-400);
}
.wrapper.show-page3 .class3-page{
    transform: translateX(-400%);
}

/*class 4 page*/
.wrapper.show-page4 .category-screen{
    transform: translateX(-200%);
}
.wrapper.show-page4 .category-screen{
    transform: translateX(-500);
}
.wrapper.show-page4 .class4-page{
    transform: translateX(-500%);
}



.content-backdrop{
    width: 135%;
    height: 15rem;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-60%);
    border-radius: 0 0 50% 50%;
}


.menu-btn{
    width: 2rem;
    cursor: pointer;
    color: #2e2e2e;
}


.welcome{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.welcome h1{
    font-size: 4rem;
}
.welcome p{
    font-weight: 500;
}

.categories button {
    width: 100%;
    display: flex;
    max-width: 50vh;  
    padding: 15px;
    /* font-size: 22px;  */
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: end;
    color: white;
    background-color: #2c3e50; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.categories button:hover {
    background-color: #1a252f; 
    transform: scale(1.05);
}

.categories-wrapper{
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    height: calc(100% - 5rem);
    padding: 4% 10% 0 10%;
    padding-bottom: 20px;
    overflow: auto;
}

.categories {
    width: 100%;
    display: flex;
    place-items: center;
    align-items: center;
    justify-content: center;
}



/*------*/
.category-screen .head-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.screen .head-wrapper svg{
    width: 2rem;
    cursor: pointer; 
    color: #fff;
}

.classback-btn ,.classback-btn_two ,.classback-btn_three {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 3rem;
    width: 7rem;
    background-color: #565254;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}



.back-btn{
    display: flex;
    align-items: center;
    padding: 10px;
    height: 3rem;
    width: 7rem;
    background-color: #565254;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.categories{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.categories .class1{
   /* background-color: green;*/
    border-radius: 0.5rem;
    font-size: xx-large;
    padding: 5rem 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 20px 5px #00000023;
    transition: all 0.3s;
}
.event-container {
    margin-top: 20px;
    padding: 15px;
}

.event-container header {
    text-align: center;
    margin-bottom: 15px;
}

.event-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.event-schedule {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.event-row {
    display: flex;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.time-box {
    background: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    font-weight: bold;
    margin-right: 15px;
}

.event-box h3 {
    font-size: 16px;
    margin-bottom: 5px;
}
.event-box p {
    font-size: 14px;
    color: #666;
}

.categories .class2{
   /* background-color: red;*/
    border-radius: 0.5rem;
    padding: 4rem 1rem;
    font-size: x-large;
    cursor: pointer;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 20px 5px #00000023;
    transition: all 0.3s;
}
.categories .class3{
  /*  background-color: red;*/
    border-radius: 0.5rem;
    padding: 3rem 1rem;
    font-size: larger;
    cursor: pointer;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 20px 5px #00000023;
    transition: all 0.3s;
}

.categories .class4{
   /* background-color: red;*/
    border-radius: 0.5rem;
    padding: 2rem 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 20px 5px #00000023;
    transition: all 0.3s;
    overflow: hidden;
}
.class4 img{
    height: 100%;
    width: 100%;
}

.categories .category:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px 5px #00000023;
}



.classification .head-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.classification{
    margin-top: 1rem;
    height: calc(100% - 5rem);
    padding: 4% 10% 0 10%;
    padding-bottom: 20px;
    overflow: auto;
}
.category{
    background-color: #D0CFCF;
}






.classthreegroup
{
    display: flex;
    flex-direction: column;
}
.classthreegroup h2{
    font-size: 2rem;
}

.faqstitle{
    display: flex;
    padding-bottom: 10%;
    flex-direction: column;
    align-items: center;
}
.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question h3{
    font-size: 1.5rem;
}
.answer p{
    padding-top: .5rem;
    line-height: 1.6;
    font-size: 1.2;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}

.faq.active .answer{
    max-height: 300px;
    animation: fade .5s ease-in-out;
}

.faq.active svg{
    transform: rotate(180deg);
}

.question svg{
    transition: transform 0.3s ease-in;
}

@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: .5;
        transform: translateY(0px);
    }
}

.image-grid{
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid-col-2{
    grid-column: span 6;
}

.image-grid-row-2{
    grid-row: span 2;
}

.gallery{
    display: inline-block;
    border: 1px solid hsl(0, 0%, 60%);
    width: 150px;
}

.gallery .description{
    padding: 10px;
    text-align: center;
}
.gallery:hover{
    border: 1px solid hsl(0, 0%, 20%);
}

.gallery img{
    width: 100%;
    height: auto;
}
.inqueries-btn{
    position:absolute;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D0CFCF;
}

.inqueries-btn:hover{
    transform: scale(1.1);
}

.inqueries-btn svg{
    width: 2rem;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 4vh;
    border-radius: 10px;
  }

  .card img{
    border-radius: 10px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  

  .container {
    padding: 2px 16px;
  }

  .list {
    text-decoration: none;
    list-style-type: none;
  }